#Grid{
display:flex;

}

.old-cell {
height: 110px;
width: 110px;
background-color: aqua;
border: 1px solid;
}

.new-cell {
  height: 110px;
  width: 110px;
background-color: purple;
border: 1px solid;
}


